# Python cache files
*__pycache__*
*.pyc
*.pyo
*.pyd
.Python

# Snap build files
parts/
prime/
stage/
*.snap

# Environment and IDE files
.env
.venv
env/
venv/
ENV/
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/
